  body {
   box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  .data-container { 
    
    padding: 140px 220px;
    display: flex;
    align-items: center;
   
  }
.data-block {

  display: flex;
  flex-direction: column;
  /* padding: 28px 220px 28px 0px; */
  
}
.data-image-block{
  
  

}
.data-image {
  
  /* padding: 0px 220px 0px 0px; */
 
 
  
}

.data-title{
  
    font-weight: 700; 
    font-size: 72px;
    line-height: 87px;
    letter-spacing: -0.02em;
    color: #212529;
    margin-bottom: 24px;
    
     
  }

  .data-title span {

    background-image: url(./assets/img/Element.png);
    background-repeat: no-repeat;
    background-position: 0% 130%;
    
  }

  .data-paragraph {
   
    margin-bottom: 60px;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: -0.02em; 
    color: #212529;
  }

  button {
   
    border: 0px ;
    background-color: white;
    text-align: left;
    cursor: pointer;
    
  }
  
  .sponsors-block {
   
     padding: 140px 220px;
    
  }

  .sponsors-title {
    
    font-weight: 700;
    font-size: 72px;
    line-height: 87px;
    text-align: center;
    letter-spacing: -0.02em;
    color: #212529;
    padding: 0px 220px 0px 0px;
  }

  .sponsors-title span {

    background-image: url(./assets/img/Element.png);
    background-repeat: no-repeat;
    background-position: 0% 130%;
  } 

  .sponsors {
    display: flex;
    justify-content: space-between;
    
  
  } 

